{
    "algorithm": "grid",
    "spec": {
        "maxCombo": 20,
        "objective": "minimize",
        "metric": "loss",
        "minSampleSize": 500,
        "retryLimit": 20,
        "retryAssignLimit": 0,
    },
    "parameters": {
        "n_estimators": {
            "type": "integer",
            "scaling_type": "uniform",
            "min": 100,
            "max": 300
        },
        "criterion": {
            "type": "categorical",
            "values": ["gini", "entropy"]
        },
        "min_samples_leaf": {
            "type": "discrete",
            "values": [1, 3, 5, 7, 9]
        },
    }
}